        /*** Colors ***/
    // General
    $black: #000000;
    $white: #FFFFFF;
    
    // FontAwesome Icons
    $grey: #7E7E7E;

    // Background
    $white-grey: #F6F6F6;   // homapage section + menu
    $dark-grey: #353535;    // footer
    $light-grey: #EAEAEA;   // search
    
    //Decoration
    $aqua-green: #99E2D0;
    $purple: #9356DC;
    $pink: #FF79DA;


    /*** Text Configuration ***/
    //Fonts
    $main-font: 'Roboto';
    $resto-font: 'Shrikhand';

    //Size
    $main-font-size: 18px;   // general
    $second-font-size: 16px;

    $title-font-size: 24px;   // homepage
    $sub-menu-size: 17px;
    $tag-font-size: 14px;

    $resto-font-size: 28px;   // pages menu

    