                /*** Design System ***/

    /** Variables **/
//Colors
$txt-color: #000000;
$main-color: #FFFFFF;

$bg-primary-color: #F6F6F6;     // homepage section + menu
$bg-secondary-color: #EAEAEA;   // search

$deco-primary-color: #9356DC;
$deco-secondary-color: #FF79DA;
$deco-tertiary-color: #99E2D0;

$dark-grey: #353535;    // bg footer + fontawesome icons

//Text Configuration
$main-font: 'Roboto';
$resto-font: 'Shrikhand';

$main-font-size: 18px;   // general
$second-font-size: 16px;

$title-font-size: 24px;   // homepage
$title2-font-size: 40px;
$sub-menu-size: 17px;
$tag-font-size: 14px;

$resto-font-size: 28px;   // pages menu

    /** Mixins **/
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
@mixin flex-column {
    display: flex;
    flex-direction: column;
    }

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
@mixin flex-row {
    display: flex;
    flex-direction: row;
    }

@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


                /***** MOBILE FIRST *****/
            /*** (between 320px and 767px) ***/

    /** Loader **/
.loader {
    position: absolute;
    z-index: 5;
    height: 100%;
    width: 100%;
    background-color: $main-color;
    @include flex-center;
    //animation: loader /*3s forwards*/;
    & .lds-roller {
    display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
        & div {
            animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            transform-origin: 40px 40px;
            &:after {
                content: " ";
                display: block;
                position: absolute;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background: $deco-tertiary-color;
                margin: -4px 0 0 -4px;
            }
        }
        & div:nth-child(1) {
            animation-delay: -0.036s;
            &:after {
                top: 63px;
                left: 63px;
            }
        }
        & div:nth-child(2) {
            animation-delay: -0.072s;
            &:after {
                top: 68px;
                left: 56px;
            }
        }
        & div:nth-child(3) {
            animation-delay: -0.108s;
            &:after {
                top: 71px;
                left: 48px;
            }
        }
        & div:nth-child(4) {
            animation-delay: -0.144s;
            &:after {
                top: 72px;
                left: 40px;
            }
        }
        & div:nth-child(5) {
            animation-delay: -0.18s;
            &:after {
                top: 71px;
                left: 32px;
            }
        }
        & div:nth-child(6) {
            animation-delay: -0.216s;
            &:after {
                top: 68px;
                left: 24px;
            }
        }
        & div:nth-child(7) {
            animation-delay: -0.252s;
            &:after {
                top: 63px;
                left: 17px;
            }
        }
        & div:nth-child(8) {
            animation-delay: -0.288s;
            &:after {
                top: 56px;
                left: 12px;
            }
        }
    }
}
@keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes loader {
    0% {
        visibility: visible;
    }
    100% {
        visibility: collapse;
    }
}

.loader {
    animation: loader 5s forwards;
    & + .site {
        transition: visible 5s;
        //visibility: collapse;
        //animation: site 5s forwards;
    }
}
@keyframes site {
    0% {
        visibility: collapse;
    }
    100% {
        visibility: visible;
    }
}

    /** Header **/
.navbar {
    height: 65px;
    background-color: $main-color;
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.1));
    @include flex-center;
    & .logo-black {
        height: 36px;
        width: 197px;
    }
}

    /** Hero Header **/
.hero-header {
    height: 340px;
    @include flex-column;
    background-color: $bg-primary-color;
}

// Search Section
.search-banner {
    width: 100%;
    height: 50px;
    background-color: $bg-secondary-color;
}

form {
    @include flex-column-center;
    & .btn {
        width: 220px;
        position: relative;
        top: 200px;
    }
}
.search {
    @include flex-row-center;
    margin-top: 10px;
    gap: 17px;
}

.fa-location-dot {
    height: 18px;
    width: 12px;
    color: $dark-grey;
}

input {
    color: $dark-grey;
    font-size: $second-font-size;
    font-weight: 500;
    border: none;
    background-color: $bg-secondary-color;
    border: none; //contour toujours présent
}

// Catchphrase Section
.hero-header h1 {
    text-align: center;
    font-size: $title-font-size;
    font-weight: 700;
    margin-top: 40px;
}

.hero-header p {
    text-align: center;
    font-size: $main-font-size;
    font-weight: 300;
}


    /** Fonctionnement **/
.fonctionnement {
    height: 410px;
    @include flex-column;
    background-color: $main-color;
}

.fonctionnement h2 {
    font-size: $title-font-size;
    font-weight: 700;
    margin: 50px 0 0 20px;
}

.notice {
    @include flex-column;
    margin-top: 25px;
    gap: 20px;
}

.notice-card {
    height: 70px;
    width: 325px;
    @include flex-row;
    background-color: $bg-primary-color;
    border-radius: 20px;
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
    margin-left: 30px;
    gap: 10px;
    & .number {
        height: 20px;
        width: 20px;
        color: $bg-primary-color;
        font-size: $tag-font-size;
        font-weight: 500;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 50px;
        border: none;
        background-color: $deco-primary-color;
        position: relative;
        top: 25px;
        left: -10px;
    }
    & img {
        height: 18px;
        position: relative;
        top: 25px;
    }
    & p {
        font-size: $second-font-size;
        font-weight: 500;
        display: flex;
        align-items: center;
    }
}

    /** Restaurants Section **/
.restaurants {
    @include flex-column;
    background-color: $bg-primary-color;
    padding-bottom: 65px;
}

.restaurants h2 {
    font-size: $title-font-size;
    font-weight: 700;
    margin: 50px 0 0 20px;
}

.cards-column {
    @include flex-column-center;
    margin-top: 15px;
    gap: 20px;
}

.card-resto {
    height: 250px;
    width: 90%;
    border-radius: 15px;
    background-color: $main-color;
    @include flex-column;
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
    & a {
        color: $txt-color;
        text-decoration: none;
        &:visited {
            color: $txt-color;
            text-decoration: none;
        }
    }
    & .tag {
        height: 30px;
        width: 20%;
        @include flex-center;
        font-size: $tag-font-size;
        font-weight: 500;
        color: darken($deco-tertiary-color, 50);
        background-color: $deco-tertiary-color;
        position: fixed;
        top: 15px;
        left: 75%;
    }
    & img {
        object-fit: cover;
        height: 170px;
        width: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    & .card-content {
        @include flex-row;
        justify-content: space-between;
        & .txt {
            @include flex-column;
            padding: 15px 0 0 15px;
            gap: 5px;
            & h3 {
                font-size: $main-font-size;
                font-weight: 700;
            }
            & p {
                font-size: $sub-menu-size;
                font-weight: 300;
            }
        }
        & .heart {
            width: 15%;
            & .fa-heart {
                font-size: 20px;
                position: absolute;
                bottom: 20px;
                right: 5%;
            }
        }
    }
}




/*** Medium devices (tablets, between 768px than 1024px) ***/
@media (min-width: 768px) /*and (max-width: 1024px)*/ {
    .navbar {
        height: 95px;
    }

    .hero-header {
        & h1 {
            font-size: $title2-font-size;
        }
        & p {
            font-size: $main-font-size;
            margin-top: 25px;
        }
    }

    .container {
        @include flex-column-center;
    }

    .fonctionnement {
        height: 230px;
        width: 80%;
        & .notice {
            @include flex-row;
            margin-left: 30px;
            & .notice-card {
                width: 35%;
                margin-left: 0;
            }
        }
    }

    .restaurants {
        width: 80%;
        padding-bottom: 40px;
        & .cards-column {
            @include flex-row;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0 20px;
            gap: 50px;
            & .card-resto {
                width: 45%;
            }
        }
    }
}

/*** Large devices (desktop, between 1025px and 1440px) ***/
@media (min-width: 1025px) /*and (max-width: 1440px)*/ {

    .notice {
        gap: 25px;
    }

}

/*** Large devices (largedesktop, more than 1440px) ***/
//@media (min-width: 1441px) {
    /* ... */
//}