                /*** Design System ***/

    /** Variables **/
//Colors
$txt-color: #000000;
$main-color: #FFFFFF;

$bg-primary-color: #F6F6F6;     // homepage section + menu
$bg-secondary-color: #EAEAEA;   // search

$deco-primary-color: #9356DC;
$deco-secondary-color: #FF79DA;
$deco-tertiary-color: #99E2D0;

$dark-grey: #353535;    // bg footer + fontawesome icons

//Text Configuration
$main-font: 'Roboto';
$resto-font: 'Shrikhand';

$main-font-size: 18px;   // general
$second-font-size: 16px;

$title-font-size: 24px;   // homepage
$sub-menu-size: 17px;
$tag-font-size: 14px;

$resto-font-size: 28px;   // pages menu

    /** Mixins **/
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
@mixin flex-column {
    display: flex;
    flex-direction: column;
    }

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
@mixin flex-row {
    display: flex;
    flex-direction: row;
    }

@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


                /***** MOBILE FIRST *****/
            /*** (between 320px and 767px) ***/

    /** Header **/
.navbar {
    height: 65px;
    background-color: $main-color;
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.1));
    @include flex-center;
    .navbar__logo {
        height: 36px;
        width: 197px;
    }
}

    /** Hero Header **/
.hero-header {
    height: 340px;
    @include flex-column;
    background-color: $bg-primary-color;
}

// Search Section
.search-banner {
    width: 100%;
    height: 50px;
    background-color: $bg-secondary-color;
}

form {
    @include flex-column-center;
    & .btn {
        width: 220px;
        position: relative;
        top: 200px;
    }
}
.search {
    @include flex-row-center;
    margin-top: 10px;
    gap: 17px;
}

.fa-location-dot {
    height: 18px;
    width: 12px;
    color: $dark-grey;
}

input {
    color: $dark-grey;
    font-size: $second-font-size;
    font-weight: 500;
    border: none;
    // enlever contour bleu !!
}

// Catchphrase Section
.hero-header h1 {
    text-align: center;
    font-size: $title-font-size;
    font-weight: 700;
    margin-top: 40px;
}

.hero-header p {
    text-align: center;
    font-size: $main-font-size;
    font-weight: 300;
}


    /** Fonctionnement **/
.fonctionnement {
    height: 410px;
    @include flex-column;
    background-color: $main-color;
}

.fonctionnement h2 {
    font-size: $title-font-size;
    font-weight: 700;
    margin: 50px 0 0 20px;
}

.notice {
    @include flex-column;
    margin-top: 25px;
    gap: 20px;
}

.notice-card {
    height: 70px;
    width: 325px;
    @include flex-row;
    background-color: $bg-primary-color;
    border-radius: 20px;
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
    margin-left: 30px;
    gap: 10px;
    & .number {
        height: 20px;
        width: 20px;
        color: $bg-primary-color;
        font-size: $tag-font-size;
        font-weight: 500;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 50px;
        border: none;
        background-color: $deco-primary-color;
        position: relative;
        top: 25px;
        left: -10px;
    }
    & img {
        height: 18px;
        position: relative;
        top: 25px;
    }
    & p {
        font-size: $second-font-size;
        font-weight: 500;
        display: flex;
        align-items: center;
    }
}

    /** Restaurants Section **/
.restaurants {
    @include flex-column;
    background-color: $bg-primary-color;
    padding-bottom: 65px;
}

.restaurants h2 {
    font-size: $title-font-size;
    font-weight: 700;
    margin: 50px 0 0 20px;
}

.cards-column {
    @include flex-column-center;
    margin-top: 15px;
    gap: 20px;
}

.card-resto {
    height: 250px;
    width: 90%;
    border-radius: 15px;
    background-color: $main-color;
    @include flex-column;
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
    & .tag {
        height: 30px;
        width: 20%;
        @include flex-center;
        color: white;  //$deco-tertiary-color plus sombre
        background-color: $deco-tertiary-color;
        position: fixed;
        top: 15px;
        left: 75%;
    }
    & img {
        object-fit: cover;
        height: 170px;
        width: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    & .card-content {
        @include flex-row;
        justify-content: space-between;
        & .txt {
            @include flex-column;
            padding: 15px 0 0 15px;
            gap: 5px;
            & h3 {
                font-size: $main-font-size;
                font-weight: 700;
            }
            & p {
                font-size: $sub-menu-size;
                font-weight: 300;
            }
        }
        & .fa-heart { // taile pas pris en compte !!!
            height: 22px;
            width: 21px;
            padding: 30px 20px 0 0;
            // animantion ici
        }
    }
}



/*** Medium devices (tablets, between 768px than 1024px) ***/
@media (min-width: 768px) and (max-width: 1024px) {
    /* ... */
}

/*** Large devices (desktop, between 1025px and 1440px) ***/
@media (min-width: 1025px) and (max-width: 1440px) {
    /* ... */
}

/*** Large devices (largedesktop, more than 1440px) ***/
@media (min-width: 1441px) {
    /* ... */
}