                /*** Design System ***/

    /** Variables **/
//Colors
$txt-color: #000000;
$main-color: #FFFFFF;

$bg-primary-color: #F6F6F6;     // homepage section + menu
$bg-secondary-color: #EAEAEA;   // search

$deco-primary-color: #9356DC;
$deco-secondary-color: #FF79DA;
$deco-tertiary-color: #99E2D0;

$dark-grey: #353535;    // bg footer + fontawesome icons

//Text Configuration
$main-font: 'Roboto';
$resto-font: 'Shrikhand';

$main-font-size: 18px;   // general
$second-font-size: 16px;

$title-font-size: 24px;   // homepage
$sub-menu-size: 17px;
$tag-font-size: 14px;

$resto-font-size: 28px;   // pages menu

    /** Mixins **/
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
@mixin flex-column {
    display: flex;
    flex-direction: column;
    }

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
@mixin flex-row {
    display: flex;
    flex-direction: row;
    }

@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


                /***** MOBILE FIRST *****/
            /*** (between 320px and 767px) ***/

    /** Header **/
.navbar {
    height: 65px;
    background-color: $main-color;
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.1));
    @include flex-center;
    & .fa-arrow-left {
        position: relative;
        left: 20px;
    }
    .navbar__logo {
        height: 36px;
        width: 197px;
    }
}
    
    /** Hero Header **/
.hero-header {
    object-fit: cover;
    height: 200px;
}

    /** Menu **/
.menu {
    @include flex-column;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: $bg-primary-color;
}










/*** Medium devices (tablets, between 768px than 1024px) ***/
@media (min-width: 768px) and (max-width: 1024px) {
    /* ... */
}

/*** Large devices (desktop, between 1025px and 1440px) ***/
@media (min-width: 1025px) and (max-width: 1440px) {
    /* ... */
}

/*** Large devices (largedesktop, more than 1440px) ***/
@media (min-width: 1441px) {
    /* ... */
}