                /*** Design System ***/

    /** Variables **/
//Colors
$txt-color: #000000;
$main-color: #FFFFFF;

$bg-primary-color: #F6F6F6;     // homepage section + menu
$bg-secondary-color: #EAEAEA;   // search

$deco-primary-color: #9356DC;
$deco-secondary-color: #FF79DA;
$deco-tertiary-color: #99E2D0;

$dark-grey: #353535;    // bg footer + fontawesome icons

//Text Configuration
$main-font: 'Roboto';
$resto-font: 'Shrikhand';

$main-font-size: 18px;   // general
$second-font-size: 16px;

$title-font-size: 24px;   // homepage
$sub-menu-size: 17px;
$tag-font-size: 14px;

$resto-font-size: 28px;   // pages menu

    /** Mixins **/
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
@mixin flex-column {
    display: flex;
    flex-direction: column;
    }

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
@mixin flex-row {
    display: flex;
    flex-direction: row;
    }

@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

    /** Keyframes **/
@keyframes card-check {
    0% {
        transform: scaleX(0);
        opacity: 0.1;
    }
    50% {
        opacity: 0.5;
    }
    80% {
        opacity: 0.8;
    }
    100% {
        transform: scaleX(1);
        opacity: 1;
    }
}

@keyframes card-uncheck {
    100% {
        transform: scaleX(1);
        opacity: 1;
    }
    80%{
        opacity: 0.8;
    }
    50% {
        opacity: 0.5;
    }
    0% {
        transform: scaleX(0);
        opacity: 0.1;
    }
}

@keyframes show-menu {
    0% {
        visibility: hidden;
        transform: scaleX(0);
    }
    100% {
        visibility: visible;
        transform: scaleX(1);
    }
}


                /***** MOBILE FIRST *****/
            /*** (between 320px and 767px) ***/

    /** Header **/
.navbar {
    @include flex-center;
    height: 65px;
    background-color: $main-color;
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.1));
    .navbar__back {
        position: absolute;
        top: 25px;
        left: 25px;
        & .fa-arrow-left {
            display: inline-block;
            color: $dark-grey;
            font-size: x-large;
        }
    }
    & .navbar__logo {
        height: 36px;
        width: 197px;
    }
}

    
    /** Hero Header **/
.hero-header {
    object-fit: cover;
    height: 275px;
    width: 100%;
    position: relative;
    z-index: -1;
}

    /** Menu **/
.menu {
    @include flex-column-center;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: $bg-primary-color;
    position: relative;
    top: -40px;
    margin-bottom: -40px;
    padding-bottom: 80px;
    & .titlebar {
        width: 350px;
        @include flex-row;
        justify-content: space-between;
        margin-top: 30px;
        position: absolute;
        left: 20px;
        top: 10px;
        & h1 {
            font-family: $resto-font;
            font-size: $resto-font-size;
            font-style: italic;
        }
        & .heart {
            width: 15%;
            & .fa-heart {
                position: absolute;
                bottom: 11px;
                right: 5%;
            }
        }
    }
}

    /** Sections Menu **/
.section-menu {
    @include flex-column-center;
    width: 95%;
    position: relative;
    top: 80px;
    margin-top: 30px;
    padding-bottom: 20px;
    gap: 50px;
    & .btn {
        width: 186px;
    }
}

.card-menu {
    visibility: hidden;
    @include flex-column;
    width: 100%;
    display: flex;
    gap: 10px;
    & h2 {
        font-size: $second-font-size;
        font-weight: 300;
        margin-bottom: 5px;
        border-bottom-style: solid;
        border-bottom-width: 3px;
        border-bottom-color: $deco-tertiary-color;
        width: 40px;
        padding-bottom: 5px;
    }
}

.delay-menu-1 {
    transform-origin: right;
    animation: show-menu 500ms 800ms forwards;
}
.delay-menu-2 {
    transform-origin: right;
    animation: show-menu 500ms 1000ms forwards;
}
.delay-menu-3 {
    transform-origin: right;
    animation: show-menu 500ms 1200ms forwards;
}

.card {
    @include flex-row;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: $main-color;
    border-radius: 15px;
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
    & .txt {
        width: 80%;
        @include flex-column;
        justify-content: center;
        padding: 10px 15px;
        gap: 8px;
        & h3 {
            font-size: $second-font-size;
            font-weight: 600; // 500 ne s'affiche pas
        }
        & p {
            font-size: 15px;
            font-weight: 300;
        }
    }
    & .price {
        width: 15%;
        & p {
            font-size: 15px;
            font-weight: 700;
            padding: 40px 15px;
        }
    }
    & .check {
        visibility: collapse;
        width: 20%;
        background-color: $deco-tertiary-color;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        @include flex-center;
        & p {
            height: 20px;
            width: 20px;
            border-radius: 50px;
            background-color: $main-color;
            & .fa-check {
                color: $deco-tertiary-color;
                display: flex;
                justify-content: center;
                position: relative;
                top: 2px;;
            }
        }   
    }
    &:active {
        & .check {
            visibility: visible;
            transform-origin: right;
            animation: card-check 300ms cubic-bezier(.32,0,.07,1) forwards;
        }
    }
}



/*** Medium devices (tablets, between 768px than 1024px) ***/
@media (min-width: 768px) /*and (max-width: 1024px)*/ {
    main {
        @include flex-column-center;
        & img {
            height: 385px;
        }
        & .menu {
            width: 80%;
            @include flex-center;
            & .titlebar {
                position: relative;
                top: 0;
                left: 0;
                margin-bottom: -70px;
            }
        }
        & .section-menu {
            width: 70%;
        }
    }
}
