            /*** Design System ***/

    /** Variables **/
//Colors
$txt-color: #000000;
$main-color: #FFFFFF;

$bg-primary-color: #F6F6F6;     // homepage section + menu
$bg-secondary-color: #EAEAEA;   // search

$deco-primary-color: #9356DC;
$deco-secondary-color: #FF79DA;
$deco-tertiary-color: #99E2D0;

$dark-grey: #353535;    // bg footer + fontawesome icons

//Text Configuration
$main-font: 'Roboto';
$resto-font: 'Shrikhand';

$main-font-size: 18px;    // general
$second-font-size: 16px;

$title-font-size: 24px;   // homepage
$sub-menu-size: 17px;
$tag-font-size: 14px;

$resto-font-size: 28px;   // pages menu

    /** Mixins **/
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
@mixin flex-column {
    display: flex;
    flex-direction: column;
    }
    
@mixin flex-row {
    display: flex;
    flex-direction: row;
    }

@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


                /***** MOBILE FIRST *****/
            /** (between 320px and 767px) **/

* {
    padding: 0;
    margin: 0;
}

    /** Body **/
body {
    font-family: $main-font;
    color: $txt-color;
}

.btn {
    display: inline-block;
    height: 50px;
    border-radius: 25px;
    border: none;
    color: $main-color;
    background: linear-gradient($deco-secondary-color, 
        $deco-primary-color);
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.3));
    @include flex-center;
    font-size: $second-font-size;
    font-weight: 500;
    // animation
    &:hover {
        opacity: 0.8;
        transition: 250ms;
    }
}

.heart {
    & .empty {
        z-index: 3;
        font-size: $title-font-size;
        color: $dark-grey;
        background-color: $main-color;
        opacity: 1;
        &:hover {
            opacity: 0;
            transition: 200ms;
        }
    }
    & .full {
        z-index: 2;
        font-size: $title-font-size;
        background: linear-gradient($deco-primary-color, $deco-secondary-color);
        background-clip: text;
        color: transparent;
    }
}



    /** Footer **/
footer {
    height: 142px;
    background-color: $dark-grey;
    padding: 22px 25px;
    & a {
        color: $main-color;
        font-size: $second-font-size;
        text-decoration: none;
        &:visited {
            text-decoration: none;
        }
    }
}

.logo_white {
    height: 30px;
    width: 105px;
    padding-bottom: 16px;
    filter: invert(100%) sepia(0%) saturate(0%) 
        hue-rotate(356deg) brightness(102%) 
        contrast(102%); //color svg
}

.links-footer {
    @include flex-column;
    gap: 7px;
    .with-icon {
        @include flex-column;
        gap: 7px;
        & .link {
            @include flex-row;
            height: 19px;
            gap: 11px;
            & .little_icon {
                position: relative;
                top: 3px;
            }
            & a {
                font-weight: 500;
            }
        }
    }
    & .without-icon {
        @include flex-column;
        gap: 7px;
    }
}

.little_icon {
    height: 13px;
    width: 11px;
}




/*** Medium devices (tablets, between 768px than 1024px) ***/
@media (min-width: 768px) and (max-width: 1024px) {
    footer {
        height: 114px;
        padding: 0;
    }

    .logo_white {
        margin-top: 12px;
        margin-left: 15px;
        padding-bottom: 10px;
    }

    .links-footer {
        @include flex-row-center;
        gap: 20px;
        .with-icon {
            @include flex-row;
            gap: 7px;
            & .link {
                gap: 5px;
            }
        }
        & .without-icon {
            @include flex-row;
        }
    }
}

/*** Large devices (desktop, between 1025px and 1440px) ***/
@media (min-width: 1025px) /*and (max-width: 1440px)*/ {
    footer {
        display: flex;
        flex-flow: row-reverse;
        height: 114px;
        padding: 0;
    }

    .logo_white {
        margin: 32px 25px 0 0;
        padding-bottom: 10px;
    }

    .links-footer {
        @include flex-row-center;
        gap: 40px;
        padding-right: 100px;
        .with-icon {
            @include flex-row;
            gap: 10px;
            & .link {
                gap: 5px;
            }
        }
        & .without-icon {
            @include flex-row;
            gap: 10px;
        }
    }
}
