/*** Design System ***/
/** Variables **/
/** Mixins **/
/***** MOBILE FIRST *****/
/*** (between 320px and 767px) ***/
/** Header **/
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  background-color: #FFFFFF;
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.1));
}
.navbar .navbar__back {
  position: absolute;
  top: 25px;
  left: 25px;
}
.navbar .navbar__back .fa-arrow-left {
  display: inline-block;
  color: #353535;
  font-size: x-large;
}
.navbar .navbar__logo {
  height: 36px;
  width: 197px;
}

/** Hero Header **/
.hero-header {
  object-fit: cover;
  height: 275px;
  width: 100%;
  position: relative;
  z-index: -1;
}

/** Menu **/
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: pink;
  position: relative;
  top: -40px;
}
.menu .titlebar {
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  position: absolute;
  left: 20px;
  top: 10px;
}
.menu .titlebar h1 {
  font-family: "Shrikhand";
  font-size: 28px;
  font-style: italic;
}

/** Sections Menu **/
.section-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  background-color: burlywood;
  position: relative;
  top: 80px;
  margin-top: 30px;
  gap: 50px;
}

.card-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  display: flex;
  gap: 10px;
}
.card-menu h2 {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: #99E2D0;
  width: 40px;
  padding-bottom: 5px;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background-color: white;
  border-radius: 15px;
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
}
.card .txt {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 15px;
  gap: 8px;
}
.card .txt h3 {
  font-size: 16px;
  font-weight: 500;
}
.card .txt p {
  font-size: 15px;
  font-weight: 300;
}
.card .price {
  width: 15%;
}
.card .price p {
  font-size: 15px;
  font-weight: 700;
  padding: 40px 15px;
}
.card .check {
  visibility: collapse;
  width: 15%;
  background-color: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
.card .check p {
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background-color: #FFFFFF;
}
.card .check p .fa-check {
  color: #99E2D0;
  display: flex;
  justify-content: center;
  position: relative;
  top: 2px;
}

/*** Medium devices (tablets, between 768px than 1024px) ***/
@media (min-width: 768px) and (max-width: 1024px) {
  /* ... */
}
/*** Large devices (desktop, between 1025px and 1440px) ***/
@media (min-width: 1025px) and (max-width: 1440px) {
  /* ... */
}
/*** Large devices (largedesktop, more than 1440px) ***/
@media (min-width: 1441px) {
  /* ... */
}

/*# sourceMappingURL=restaurant.css.map */
